<ion-view view-title="About">
  <ion-content>

    <br />

    <div class="item item-icon">
      <center>
        <i class="icon ion-beer" id="beer" ng-click="drink()"></i>
      </center>
    </div>

    <div class="list card">

      <div class="item item-text-wrap">

        <p>
          <strong>Looking for Now</strong> helps the LGBT community find drinks--right now. By visualizing only bars that are currently open, you can find the bars nearest to where you are, fast. Don't worry, even if a bar isn't open, you can still access it from your list of favorites. ;-)
        </p>
        <br />
        <p>
          Made with <i class="icon ion-heart"></i> in San Francisco by <a href="http://www.linkedin.com/in/brennangamwell">Brennan Gamwell.</a>
        </p>
        <br />
        <p>
          Suggestions or comments? Email me at <strong>bgamwell@gmail.com</strong>.
        </p>

      </div>
    </div>

  </ion-content>
</ion-view>
