<ion-view view-title="Venue Information">
  <ion-content>
    <h1>{{specificBar.name}}</h1>&nbsp;&nbsp;&nbsp;<i ng-click="saveBar(specificBar)" class="ion-android-favorite"></i>
    <!-- <p>{{specificBar.adr_address}}</p> -->

    <map disable-default-u-i="true" center="{{thisBar.geometry.location.lat}}, {{thisBar.geometry.location.lng}}">
      <marker position="{{thisBar.geometry.location.lat}}, {{thisBar.geometry.location.lng}}"></marker>
      <marker position="current location"</marker>
    </map>
  </ion-content>
</ion-view>
