<ion-view view-title="Favorites" cache-view="false">
  <ion-content>

    <br />

    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="bar in favorites">
        <div ng-click="deleteBar(bar)">
          <i class="icon ion-close"></i>
        </div>
        <a href="#/app/bars/{{bar.id}}">
          <div>
            <p>
              <strong>{{bar.name}}</strong>
            </p>
            <p>{{bar.vicinity}}</p>
          </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
