<ion-view view-title="Map">
  <ion-content>
    <map center="current location" zoom="13" disable-default-u-i="true">
      <marker ng-repeat="bar in bars | filter:q as results" position="{{bar.lat}}, {{bar.lng}}" on-click="show(event, bar)"></marker>

      <info-window position="current-location" visible="true">
          <span>Bitch, we found you</span>
      </info-window>

      <!-- custom button to zoom to Castro -->
      <custom-control id="Castro" position="TOP_CENTER" index="1" on-click="castro()">
        <div>
          <button class="btn btn-default">Castro</button>
        </div>
      </custom-control>

      <!-- custom button to zoom to soma -->
      <custom-control id="SoMa" position="TOP_CENTER" index="1" on-click="soma()">
        <div>
          <button class="btn btn-default">SoMa</button>
        </div>
      </custom-control>

    </map>
  </ion-content>
</ion-view>
