/* Empty. Add your own CSS if you like */

#map-canvas {
  height: 92vh;
  width: 100vw;
}

#bar-view-map {
  height: 25vh;
  width: 100vw;
}

/*make sure buttons display at the bottom center of the screen*/

#soma {
  margin: 5px;
  border-radius: 0px;
}

#castro {
  margin: 5px;
  border-radius: 0px;
}

#me {
  margin: 5px;
  border-radius: 0px;
}

h1 {
  text-align: center;
  padding: 10px 10px 0px 10px;
}

p {
  padding: 0px 10px 0px 10px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0px 0px 10px 0px;
  margin: 0;
}

li {
  display: inline-block;
}
